.navbar {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  gap: 15px;
  color: black;
  background-color: #222;
  align-items: center;
  justify-content: flex-end;
  font-family: "San Francisco", -apple-system, system-ui, sans-serif;
}

.navbar button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  cursor: pointer;
}

.navbar button[name="icons"] {
  background-color: rgb(55, 55, 55);
  color: white;
}

button[name="image-icon"]{
  background-color: rgb(55, 55, 55);
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

button[name="image-icon"]{
  background-color: rgb(55, 55, 55);
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.navbar button[name="last-icon"] {
  background-color: rgb(55, 55, 55);
  color: white;
  margin-right: 15px;
}

.navbar p {
  color: white;
  justify-content: center;
  padding-right: 10px;
}